{% extends "base.twig" %}
{% block pageTitle %}My Movie Night{% endblock %}

{% block stylesheets %}
    <style>
        .carousel-caption {
            background: rgba(0, 0, 0, 0.5);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        {% for newMovie in lastThreeMovies %}
                            <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index + 1 }}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/more-details/{{ topRatedMovie.id }}">
                                <img src="https://image.tmdb.org/t/p/original{{ topRatedMovie.backdropPath }}"
                                     class="img-fluid" alt="{{ topRatedMovie.title }}">
                                <div class="carousel-caption px-3">
                                    <h6>{{ topRatedMovie.title }}</h6>
                                    <small>Cel mai votat film</small>
                                </div>
                            </a>
                        </div>
                        {% for newMovie in lastThreeMovies %}
                            <div class="carousel-item">
                                <a href="/more-details/{{ newMovie.id }}">
                                    <img src="https://image.tmdb.org/t/p/original{{ newMovie.backdropPath }}"
                                         class="img-fluid" alt="{{ newMovie.title }}">
                                    <div class="carousel-caption px-3">
                                        <h6>{{ newMovie.title }}</h6>
                                        <small>Adaugat de curand de {{ newMovie.user.username }}</small>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev no-overlay d-none d-md-block" href="#carouselExampleCaptions"
                       role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next no-overlay d-none d-md-block" href="#carouselExampleCaptions"
                       role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h6>Cand ne vedem? <span class="badge badge-warning">Disponibil in curand</span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#" class="disabled">
                            <button class="btn btn-outline-secondary w-100 disabled">
                                <i class="fas fa-calendar-day"></i> <b>PROPUNE URMATORUL MOVIE NIGHT</b>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h6>Ce vedem?</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/vote">
                            <button class="btn btn-outline-primary w-100">
                                <i class="fas fa-poll"></i> <b>VOTEAZA</b>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <a href="/search">
                    <button class="btn btn-outline-primary w-100">
                        <i class="fas fa-plus"></i> <b>PROPUNE UN FILM</b>
                    </button>
                </a>
            </div>
        </div>

        <div class="row my-5 position-absolute w-100" style="bottom: 0">
            <div class="col-12 text-center">
                <a href="/logout">
                    <button class="btn btn-danger w-50"><i class="fas fa-user-alt-slash"></i> <b>LOGOUT</b>
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.carousel').carousel({
            interval: 5000
        });
    </script>
{% endblock %}
