{% extends "base.twig" %}
{% block pageTitle %}My Movie Night{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12">
                <h6>Cel mai votat film in acest moment:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-0">
                <img src="https://image.tmdb.org/t/p/w500{{ topRatedMovie.posterPath }}" class="img-fluid"
                     alt="{{ topRatedMovie.title }}">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-8">
                        <strong>{{ topRatedMovie.title }}</strong>
                    </div>
                    <div class="col-4">
                        <span class="badge badge-warning"><i
                                    class="fas fa-star-half-alt"></i> {{ topRatedMovie.rating }}</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <small>
                            <strong>Genuri: </strong>
                            {% for genre in topRatedMovie.genres %}
                                {{ genre.name }}{% if loop.last == false %},{% endif %}
                            {% endfor %}
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <small>
                            <strong>Data lansarii: </strong> {{ topRatedMovie.releaseDate|date('d MMMM Y') }}
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <small>
                            <strong>Durata: </strong> {{ topRatedMovie.runtime }} minute
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <small>
                            <strong>Il vom vedea: </strong> {{ nextDate }}
                        </small>
                    </div>
                </div>
                {#<div class="row mt-5">#}
                {#<div class="col-12">#}
                {#<button class="btn btn-info btn-sm w-100 btn-circle"><i class="fas fa-info"></i> Mai multe detalii</button>#}
                {#</div>#}
                {#</div>#}
                <div class="row mt-4">
                    <div class="col-6">
                        <a href="#">
                            <button class="btn btn-primary btn-sm w-100 disabled" disabled>
                                <i class="fas fa-info-circle"></i> Mai multe
                            </button>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.imdb.com/title/{{ topRatedMovie.imdbId }}/" target="_blank">
                            <button class="btn btn-warning btn-sm w-100">
                                <i class="fab fa-imdb"></i> IMDb
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row mt-3">
            <div class="col-12">
                <a href="/vote">
                    <button class="btn btn-outline-dark w-100">
                        <i class="fas fa-poll"></i> <b>VOTEAZA</b>
                    </button>
                </a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <a href="/search">
                    <button class="btn btn-outline-dark w-100">
                        <i class="fas fa-plus"></i> <b>PROPUNE UN FILM</b>
                    </button>
                </a>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12">
                <a href="/logout">
                    <button class="btn btn-danger w-100"><i class="fas fa-user-alt-slash"></i> <b>LOGOUT</b>
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
