{% extends "base.twig" %}
{% block pageTitle %}{{ movieInfo.title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <img src="https://image.tmdb.org/t/p/original{{ movieInfo.backdropPath }}" class="img-fluid"
                     alt="{{ movieInfo.title }}">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <h5 class="d-inline"><strong>{{ movieInfo.title }}</strong></h5>
                <span class="d-inline text-secondary"> ({{ movieInfo.releaseDate|date("Y") }})</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <span class="d-inline text-secondary">
                    {{ movieInfo.runtime }} minute |
                    {% for genre in movieInfo.genres %}
                        {% if loop.index < 4 %}
                            {{ genre.name }}{% if ((loop.last == false) and (loop.index < 3)) %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                <i>Propus de: {{ movieInfo.user.username }}</i>
            </div>
        </div>
        <div class="row my-3 bg-white border-top border-bottom shadow">
            <div class="col-3 p-0">
                <img src="https://image.tmdb.org/t/p/w200{{ movieInfo.posterPath }}" class="img-thumbnail"
                     alt="logo_{{ movieInfo.title }}">
            </div>
            <div class="col-9">
                {% if movieInfo.overview|length > 0 %}
                    <i>{{ movieInfo.overview }}</i>
                {% else %}
                    <i>Fara descriere</i>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-1 text-warning">
                {% if movieInfo.rating < 5 %}
                    <i class="far fa-star fa-2x"></i>
                {% elseif movieInfo.rating < 8 %}
                    <i class="fas fa-star-half-alt fa-2x"></i>
                {% else %}
                    <i class="fas fa-star fa-2x"></i>
                {% endif %}
            </div>
            <div class="col-4 ml-1">
                {{ movieInfo.rating }} / <span class="text-secondary small">10 TMDB</span>
            </div>
            <div class="col-1 text-primary">
                {% if movieInfo.totalVotesCount < 150 %}
                    <i class="fas fa-poop fa-2x"></i>
                {% elseif movieInfo.totalVotesCount < 275 %}
                    <i class="far fa-meh-rolling-eyes fa-2x"></i>
                {% elseif movieInfo.totalVotesCount < 400 %}
                    <i class="far fa-smile fa-2x"></i>
                {% else %}
                    <i class="far fa-grin-hearts fa-2x"></i>
                {% endif %}
            </div>
            <div class="col-5">
                {{ movieInfo.totalVotesCount }} / <span class="text-secondary small">500</span> puncte
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <a href="https://www.imdb.com/title/{{ movieInfo.imdbId }}/" target="_blank">
                    <button class="btn btn-warning w-100">
                        <i class="fab fa-imdb"></i> Detalii complete
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <tr class="bg-secondary text-white">
                        <th>
                            Voturi
                        </th>
                        <th>

                        </th>
                    </tr>
                    {% for rating in movieInfo.ratings %}
                        <tr>
                            <td>
                                {{ rating.user.username }}
                            </td>
                            <td>
                                {% if rating.rating < 20 %}
                                    <h6 class="d-inline"><i class="fas fa-poop"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% elseif rating.rating < 50 %}
                                    <h6 class="d-inline"><i class="far fa-meh-rolling-eyes"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% elseif rating.rating < 80 %}
                                    <h6 class="d-inline"><i class="far fa-smile"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% else %}
                                    <h6 class="d-inline"><i class="far fa-grin-hearts"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row mb-5 mt-2">
            <div class="col-12">
                <a href="javascript:history.back()">
                    <button class="btn btn-primary w-100"><i class="fas fa-chevron-left"></i> Inapoi</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
