{% extends "base.twig" %}
{% block pageTitle %}{{ movieInfo.title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <img src="https://image.tmdb.org/t/p/original{{ movieInfo.backdropPath }}" class="img-fluid"
                     alt="{{ movieInfo.title }}">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <h6><strong>{{ movieInfo.title }}</strong></h6>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                <i>Propus de: {{ movieInfo.user.username }}</i>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                {% if movieInfo.overview|length > 0 %}
                    <i>{{ movieInfo.overview }}</i>
                {% else %}
                    <i>Fara descriere</i>
                {% endif %}
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <table class="table table-striped">
                    <tr class="bg-secondary text-white">
                        <th>
                            User
                        </th>
                        <th>
                            Nota
                        </th>
                    </tr>
                    {% for rating in movieInfo.ratings %}
                        <tr>
                            <td>
                                {{ rating.user.username }}
                            </td>
                            <td>
                                {% if rating.rating < 20 %}
                                    <h6 class="d-inline"><i class="fas fa-poop"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% elseif rating.rating < 50 %}
                                    <h6 class="d-inline"><i class="far fa-meh-rolling-eyes"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% elseif rating.rating < 80 %}
                                    <h6 class="d-inline"><i class="far fa-smile"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% else %}
                                    <h6 class="d-inline"><i class="far fa-grin-hearts"></i></h6>
                                    <span class="d-inline">{{ rating.rating }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <a href="javascript:history.back()">
                    <button class="btn btn-primary w-100"><i class="fas fa-chevron-left"></i> Inapoi</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
