<div class="row mt-5 mb-3">
    <div class="col-12">
        <h6>Rezultate gasite pentru "{{ searchedText }}" ({{ movies|length }}):</h6>
    </div>
</div>

{% for movie in movies %}
    <div class="row border rounded">
        <div class="col-2 p-0">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="img-fluid"
                 alt="logo_{{ movie.title }}">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <strong>{{ movie.title }}</strong>
                    <br>
                    <small>
                        <strong>Nota: </strong>
                    </small>
                    <span class="badge badge-warning"><i class="fas fa-star-half-alt"></i> {{ movie.vote_average }}</span>

                    {% if movie.release_date|length > 0 %}
                        <br>
                        <small>
                            <strong>Data lansarii:</strong> {{ movie.release_date|date('d MMMM Y') }}
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    {% if movie.alreadyAdded == 0 %}
                        <button class="btn btn-success btn-sm w-100 add-movie" data-movie-id="{{ movie.id }}">
                            <i class="fas fa-plus"></i> Adauga
                        </button>
                    {% else %}
                        <button class="btn btn-success btn-sm w-100 disabled" disabled>
                            <i class="fas fa-check"></i> Adaugat in lista
                        </button>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script>
    $('.add-movie').on('click', function () {
        let movieId = $(this).attr('data-movie-id');
        let oldHtml = $(this).html();
        let button = $(this);

        button.attr('disabled', true);
        button.addClass('disabled');
        button.html('<i class="fas fa-spinner fa-spin"></i> Se adauga...');
        $.ajax({
            type: "PUT",
            url: '/add/' + encodeURIComponent(movieId),
            success: function (data) {
                if (data.status === 200) {
                    button.html('<i class="fas fa-check"></i> Adaugat in lista');
                } else {
                    alert('[' + data.status + '] ' + data.message);
                    button.removeAttr('disabled');
                    button.removeClass('disabled');
                    button.html(oldHtml);
                }
            },
            error: function (data) {
                alert('[' + data.status + '] ' + data.message);
                button.removeAttr('disabled');
                button.removeClass('disabled');
                button.html(oldHtml);
            }
        })
    })
</script>