<div class="row mt-5 mb-3">
    <div class="col-12">
        <h6>Rezultate gasite pentru "{{ searchedText }}" ({{ movies|length }}):</h6>
    </div>
</div>

{% for movie in movies %}
    <div class="row border rounded">
        <div class="col-2 p-0">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="img-fluid">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <strong>{{ movie.title }}</strong>
                    <br>
                    <small>
                        <strong>Nota: </strong>
                    </small>
                    <span class="badge badge-warning"><i class="fas fa-star-half-alt"></i> {{ movie.vote_average }}</span>

                    {% if movie.release_date|length > 0 %}
                        <br>
                        <small>
                            <strong>Data lansarii:</strong> {{ movie.release_date|date('d MMMM Y') }}
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <a href="#">
                        <button class="btn btn-primary btn-sm w-100">
                            <i class="fas fa-info-circle"></i> Mai multe
                        </button>
                    </a>
                </div>
                <div class="col-6">
                    <a href="https://www.imdb.com/title/tt5848272/">
                        <button class="btn btn-success btn-sm w-100">
                            <i class="fas fa-plus"></i> Adauga
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}