{% extends "base.twig" %}
{% block pageTitle %}Voteaza filmele{% endblock %}
{% block stylesheets %}
    <style>
        .ui-slider-handle {
            width: 2em !important;
            height: 1.5em !important;
            top: 50%;
            text-align: center;
            line-height: 1.6em;
        }

        .ui-widget-content {
            /*background: #d83435;*/
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $('#timeAlert').hide();
        $(function () {
            $(".slider").slider({
                min: 0,
                max: 100,
                value: $(this).attr('data-rating'),
                create: function () {
                    $(this).slider('value', $(this).attr('data-rating'));
                    $('.ui-slider-handle[data-movie-id="' + $(this).attr('data-movie-id') + '"]').text($(this).slider("value"));
                },
                slide: function (event, ui) {
                    $(this).attr('data-rating', ui.value);
                    $('.ui-slider-handle[data-movie-id="' + $(this).attr('data-movie-id') + '"]').text(ui.value);
                },
                stop: function (event, ui) {
                    let movieId = $(this).attr('data-movie-id');

                    $.ajax({
                        type: "PUT",
                        url: '/vote/' + encodeURIComponent(movieId) + '/' + ui.value,
                        success: function (data) {
                            if (data.status !== 200) {
                                alert('[' + data.status + '] ' + data.message);
                            }
                        },
                        error: function (data) {
                            alert('[' + data.status + '] ' + data.message);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-12">
                <a href="/search">
                    <button class="btn btn-outline-primary w-100">
                        <i class="fas fa-plus"></i> <b>PROPUNE UN FILM</b>
                    </button>
                </a>
            </div>
        </div>

        <div id="results" class="row">
            <div class="col-12"
                 style="overflow-y: scroll; max-height: 80vh; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;">
                {% for movie in movies %}
                    <div class="row border-bottom border-top border-dark">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3 p-0 my-auto">
                                    <img src="https://image.tmdb.org/t/p/w200{{ movie.posterPath }}" class="img-fluid"
                                         alt="logo_{{ movie.title }}">
                                </div>
                                <div class="col-9">
                                    <strong>{{ movie.title }}</strong>
                                    <br>
                                    <small>
                                        <strong>Nota TMDB: </strong>
                                    </small>
                                    <span class="badge badge-warning"><i
                                                class="fas fa-star-half-alt"></i> {{ movie.rating }}</span>
                                    <br>
                                    <small>
                                        <strong>Genuri: </strong>
                                        {% for genre in movie.genres %}
                                            {{ genre.name }}{% if loop.last == false %},{% endif %}
                                        {% endfor %}
                                    </small>
                                    <br>
                                    <small>
                                        <strong>Propus de: {{ movie.user.username }}</strong>
                                    </small>
                                    <br>
                                    <small>
                                        <strong>Scor din voturi: {{ moviesRatings[movie.id] }} puncte</strong>
                                    </small>
                                    <div class="row mt-1">
                                        <div class="col-6">
                                            <a href="#">
                                                <button class="btn btn-primary btn-sm w-100 disabled" disabled>
                                                    <i class="fas fa-info-circle"></i> Mai multe
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <a href="https://www.imdb.com/title/{{ movie.imdbId }}/" target="_blank">
                                                <button class="btn btn-warning btn-sm w-100">
                                                    <i class="fab fa-imdb"></i> IMDb
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-1" style="background: #d1ecf1">
                                <div class="col-1 p-0 pl-1">
                                    <i class="far fa-thumbs-down"></i>
                                </div>
                                <div class="col-10 p-0 pl-1 pt-1">
                                    <div class="slider" data-movie-id="{{ movie.id }}"
                                         data-rating="{{ ratings[movie.id].rating }}">
                                        <div class="ui-slider-handle" data-movie-id="{{ movie.id }}"></div>
                                    </div>
                                </div>
                                <div class="col-1 p-0 pl-1">
                                    <i class="far fa-grin-hearts"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
