{% extends "base.twig" %}
{% block pageTitle %}Voteaza filmele{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $(".slider").slider({
                create: function () {
                    $('.ui-slider-handle[data-movie-id="' + $(this).attr('data-movie-id') + '"]').text($(this).slider("value"));
                },
                slide: function (event, ui) {
                    $('.ui-slider-handle[data-movie-id="' + $(this).attr('data-movie-id') + '"]').text(ui.value);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12">
                <div class="alert alert-warning">
                    Pagina in lucru! Momentan voturile nu se salveaza.
                </div>
            </div>
        </div>

        {% for movie in movies %}
            <div class="row border rounded">
                <div class="col-2 p-0">
                    <img src="https://image.tmdb.org/t/p/w200{{ movie.posterPath }}" class="img-fluid"
                         alt="logo_{{ movie.title }}">
                </div>
                <div class="col-10">
                    <strong>{{ movie.title }}</strong>
                    <br>
                    <small>
                        <strong>Nota: </strong>
                    </small>
                    <span class="badge badge-warning"><i class="fas fa-star-half-alt"></i> {{ movie.rating }}</span>
                    <br>
                    <small>
                        <strong>Genuri: </strong>
                        {% for genre in movie.genres %}
                            {{ genre.name }}{% if loop.last == false %},{% endif %}
                        {% endfor %}
                    </small>
                    <div class="row mt-2">
                        <div class="col-1 p-0 pl-1">
                            <i class="far fa-thumbs-down"></i>
                        </div>
                        <div class="col-10 p-0">
                            <div class="slider mb-3" data-movie-id="{{ movie.id }}">
                                <div class="ui-slider-handle" data-movie-id="{{ movie.id }}"></div>
                            </div>
                        </div>
                        <div class="col-1 p-0 pl-1">
                            <i class="far fa-grin-hearts"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
